@{
    ViewBag.Title = "Home";
    ViewBag.message = "";
}

<h1>@ViewBag.Title</h1>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script>
        

    </script>
}